@import '../../assets/css/variables';

.images {
  width: 100%;
  margin: 50px 0;

  h2 {
    font-weight: 100;
    color: #777777;
    font-size: 2em;
  }

  @media (max-width: $mobile) {

    h2 {
      font-size: 1.3em;
    }
  }


  .images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-auto-flow: row dense;
    grid-column-gap: 7px;
    grid-row-gap: 3px;

    .load-msg {
      font-size: 1.15em;
      font-weight: 300;
      text-align: center;
      margin-top: 30px;
      transition: 2s;
      animation-name: show-up;
      animation-delay: 1s;
      animation-duration: 2s;
      animation-fill-mode: both;
    }

    @keyframes show-up {
      from {opacity: 0;}
      to { opacity: .8}
    }
  }
}