@import '../../assets/css/variables.scss';

$borderColor: #e4e4e4;

.filter {

  h2 {
    text-align: right;
    font-size: 1.7em;
    font-weight: 100;
    color: #727272;
    cursor: pointer;

    svg {
      display: inline-block;
      vertical-align: middle;
      transform: scale(.7);
      color: #818181;
      transition: .3s;
    }
  }

  .upsidedown {
    transform: rotate(180deg) scale(.7);
  }

  div {

    article {
      display: grid;
      grid-template-columns: 1fr 6fr;
      align-items: center;

      @media (max-width: $mobile) {
        grid-template-columns: 2.3fr 6fr;
      }

      h3 {
        font-size: 1.1em;
        font-weight: 300;
        color: #434343;
        align-self: center;
        margin: 0;
      }
      div {

        padding: 18px 0;
        border-bottom: 1px solid $borderColor;

        span {
          font-size: .92em;
          color: #7b7b7b;
          padding: 0 6px 0 0;
          margin: 0;
          position: relative;

          &:hover {
            cursor: pointer;
            color: #313131;
          }
        }

        .color {
          display: inline-block;
          margin: 0 4px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          opacity: .75;
          border: 1px solid #e7e7e7;
          transition: .3s;

          &:hover {
            transform: scale(1.3);
            opacity: 1;
          }
        }
      }
    }

    .by-color {
      grid-template-columns: 1fr 1fr;
      align-items: center;

      @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
      }

      section:first-child {
        display: grid;
        grid-template-columns: 2.3fr 6fr;
        align-items: center;
      }

      section:last-child {
        display: grid;
        grid-template-columns: 1fr 6fr;
        padding-left: 10px;
        border-left: 1px solid $borderColor;

        border-bottom: 1px solid $borderColor;
        transform: translateY(-4px);

        @media (max-width: $mobile) {
          border: 0;
          padding-left: 0;
          transform: translateY(0);
          grid-template-columns: 2.3fr 6fr;

          div {
            border-bottom: 1px solid $borderColor;
          }
        }

        div {
          border: none;

          input {
            border: none;
            background-color: #efefef;
            border-radius: 3px;
            padding: 5px;
            margin-right: 10px;
            cursor: pointer;
            transition: .4s;
            width: 105px;

            &:focus, &:active {
              outline: none;
              background-color: #e4e4e4;
            }
          }
        }
      }
    }

  }

}