.content {
  margin: 75px auto;
  width: 93%;
  display: grid;

  grid-template-columns: 2.5fr 1fr;
  grid-gap: 20px;

  h3, h4, span, p {
    font-weight: 300;
  }

  .left {

    img {
      display: block;
      margin: auto;
      width: 100%;
      max-height: 80vh;
      object-fit: cover;
    }

    .numbers {
      margin-top: 15px;
      color: #343434;
      padding-left: 62%;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(3, auto);
      justify-items: right;

      h4 {
        margin: 2px 0;
        svg {
          transform: translateY(2px);
        }
      }

      p {
        grid-row: 2;
        grid-column: 1/-1;
      }
    }
  }

  .right {

    .author {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-items: center;
      padding: 15px 24px;
      background-color: #f9f9f9;
      color: #565656;
      min-height: 130px;

      h3 {
        font-size: 1.2em;
      }

      img {
        max-width: 100px;
        //border-radius: 50px;
      }
    }

    p {
      text-align: right;
      color: #636767;
    }

    a {
      background-color: #35bb5d;
      padding: 12px 7px;
      display: block;
      margin: 0 auto;
      color: white;
      text-align: center;
      text-decoration: none;

      &:hover {
        background-color: #34cc5c;
      }

      svg {
        display: block;
        margin: 10px auto 0 auto;
        transform: scale(1.7);

      }

      &:active, &:visited {
        color: white;
      }
    }
  }
}